<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php"
         backupGlobals="false"
         colors="true"
         verbose="true">
  <testsuites>

    <testsuite name="PP">
       <directory suffix="Test.php">test/Pux</directory>
    </testsuite>

    <testsuite name="Mux">
      <file>test/Pux/MuxTest.php</file>
      <file>test/Pux/BasicMuxTest.php</file>
      <file>test/Pux/MuxExportTest.php</file>
      <file>test/Pux/MuxSetStateTest.php</file>
      <file>test/Pux/MuxCompilerTest.php</file>
    </testsuite>

    <testsuite name="SubMux">
      <file>test/Pux/MuxMountTest.php</file>
      <file>test/Pux/MuxNoExpandMountTest.php</file>
    </testsuite>

    <testsuite name="Controller">
      <file>test/Pux/ControllerAnnotationTest.php</file>
      <file>test/Pux/ControllerTest.php</file>
    </testsuite>

    <testsuite name="Extension">
       <directory suffix="Test.php">test/ExtensionOnly</directory>
    </testsuite>
  </testsuites>

  <!--
  <logging>
    <log    type="coverage-text"
            target="php://stdout"
            lowUpperBound="35"
            highLowerBound="70"/>
    <log
            type="coverage-html"
            target="./test/coverage"
            charset="UTF-8"
            yui="true"
            lowUpperBound="35"
            highLowerBound="70"
            showUncoveredFiles="true"
            />
  </logging>
  -->

</phpunit>
