<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="true"
         colors="true"
         verbose="true">
  <testsuites>
    <testsuite name="All">
       <directory suffix="Test.php">src</directory>
       <exclude>tests/ExtensionOnly</exclude>
    </testsuite>

    <testsuite name="Mux">
      <file>src/MuxTest.php</file>
      <file>src/BasicMuxTest.php</file>
      <file>src/MuxExportTest.php</file>
      <file>src/MuxSetStateTest.php</file>
      <file>src/MuxCompilerTest.php</file>
    </testsuite>

    <testsuite name="SubMux">
      <file>src/MuxMountTest.php</file>
      <file>src/MuxNoExpandMountTest.php</file>
    </testsuite>

    <testsuite name="Controller">
      <file>src/ControllerAnnotationTest.php</file>
      <file>src/ControllerTest.php</file>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
      <exclude>
        <directory suffix="Test.php">src</directory>
      </exclude>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    <log type="coverage-html" 
        target="build/coverage" 
        charset="UTF-8" 
        yui="true" 
        highlight="true"
        lowUpperBound="35" 
        highLowerBound="70"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="coverage-crap4j" target="build/logs/crap4j.xml"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>
</phpunit>
