*.log
Makefile
*-sh
build
modules
missing
*.lo
*.la
config.*
.deps
.gdbinit
.gdbinit.default
.libs/
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
annotation/.libs/
annotation/base.loT
autom4te.cache/
configure
configure.in
libtool
ltmain.sh
mkinstalldirs
run-tests.php
tags
test.php
tmp-php.ini
vendor
