<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    verbose="true"
    debug="true"
    syntaxCheck="true"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >

    <testsuites>
        <testsuite name="PhuxTest" extension="phux">
            <directory>PhuxTest.php</directory>
        </testsuite>
    </testsuites>
</phpunit>
